<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-05-03T01:58:03Z</date>
	<key>WorkspacePath</key>
	<string>/Users/johnlime/Documents/MultipleApps/unit_neurons/Unit Neurons/Unit Neurons.xcodeproj</string>
</dict>
</plist>
