---
---

@import "{{ site.theme }}";

.horizontal_grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "sidebar content"
}

.sidebar {
  grid-area: sidebar;
  flex-flow: column;
  margin: 0px;
  background-color: #373737;
  display: grid;
  grid-template-rows: 1fr 1fr auto;
}

.sb_buttons {
  background-color: #373737;
  width: 100%;
  display: block;
}

.sb_font {
  float: left;
  margin-left: 50px;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}

.content{
  grid-area: content;
  flex-flow: column;
}
