---
---

@import "{{ site.theme }}";

.inner {
  position: inherit;
  float: left;
  margin-left: 50px;
  margin-right: 50px;
  max-width: none;
}

.horizontal_grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "sidebar content"
}

.sidebar {
  grid-area: sidebar;
  flex-flow: column;
  margin: 0px;
  background-color: #373737;
  display: grid;
  grid-template-rows: 1fr 1fr auto;
}

.sb_buttons {
  background-color: #373737;
  width: 100%;
  display: block;
}

.sb_buttons:hover {
  background-color: #737373;
}

.sb_font {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #fff;
}

.heading {
  margin-left: 50px;
  font-size: 20px;
  font-weight: 500;
}

.subheading {
  margin-left: 100px;
  font-size: 14px;
  font-weight: 300;
}

.content{
  grid-area: content;
  flex-flow: column;
}
